      h1 This is a replica of w3schools.com
      p I'll go through all possible HTML elements as well as CSS to gain knowledge quicker and get used to writting and producing styled HTML pages.
      h2 HTML
      p The language for building webpages.  #[a(href="/html") Check it out!]
      h3 CSS
      p The language for styling webpages. #[a(href="/css") See awesomeness hapenning!]
      h4 JavaScript
      p The language for programming webpages. #[a(href="/javascript") Discover the way up!]
